* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	line-height: 1.5;
	font: inherit;
	vertical-align: baseline;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizelegibility;
}

*, *::before, *::after {
	box-sizing: border-box;
}

html, body {
	height: 100%;
}

article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	position: relative;
	display: block;
}

ol, ul {
	list-style: none;
}

blockquote, q {
	quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

a {
	color: inherit;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

input, button, textarea, select {
	font: inherit;
}

input {
	appearance: none;
}

audio, canvas, iframe, img, svg, video {
	display: block;
	max-width: 100%;
}

/* Prevents img without src to appear */
img:not([src]) {
	visibility: hidden;
}

/* ==========================================================================
Theme Custom Style
========================================================================== */

:root {
    --black: #181723;
    --red: #ff6f69;
    --beige: #ffeead;
    --yellow: #ffcc5c;
    --main-color: var(--black);
}

body {
    font-family: "DM Mono", monospace;
    background-color: #fff;
    color: var(--main-color);
    line-height: 1.45em;
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizelegibility;
    font-size: 100%;
    font-weight: 400;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

body {
  opacity: 1;
  transition: .6s opacity;
}

body.fade {
  opacity: 0;
  transition: none;
}

body.overflow-hidden {
	overflow: hidden !important;
}

main, section, header, footer {
	position: relative;
}

.mobile-only {
  display: none;
}

/* MEDIAS */

audio, canvas, iframe, img, svg, video {
    vertical-align: middle;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.fade-in img {
  opacity: 0;
  transition: opacity .6s ease-in-out;
}

.fade-in.visible img {
  opacity: 1;
}

/* TYPOGRAPHY */

.dm-mono-light {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: normal;
}

.dm-mono-regular {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: normal;
}

.dm-mono-medium {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: normal;
}

.dm-mono-light-italic {
  font-family: "DM Mono", monospace;
  font-weight: 300;
  font-style: italic;
}

.dm-mono-regular-italic {
  font-family: "DM Mono", monospace;
  font-weight: 400;
  font-style: italic;
}

.dm-mono-medium-italic {
  font-family: "DM Mono", monospace;
  font-weight: 500;
  font-style: italic;
}


h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

p {
    line-height: 1.618em;
}

a {
	color: inherit;
	text-decoration: none;
}

.transitions {
	-webkit-transition: all 200ms ease-in;
	-moz-transition: all 200ms ease-in;
	-ms-transition: all 200ms ease-in;
	-o-transition: all 200ms ease-in;
	transition: all 200ms ease-in;
}

/* Custom Cursor */

.line {
  position: fixed;
  background-color: rgba(255, 255, 255, 0.8);
  mix-blend-mode: difference;
  pointer-events: none; /* Empêche d'interagir avec les lignes */
  z-index: 999;
}

#verticalLine {
  width: .5px;
  height: 100vh; /* Ligne verticale sur toute la hauteur */
}

#horizontalLine {
  height: .5px;
  width: 100vw; /* Ligne horizontale sur toute la largeur */
}

#verticalDiv, #horizontalDiv {
  position: fixed;
  font-size: .825em;
  color: rgba(255, 255, 255, 0.8);
  mix-blend-mode: difference;
  pointer-events: none; /* Empêche d'interagir avec les divs */
  white-space: no-wrap;
  z-index: 999;
}

#verticalDiv {
bottom: 10px;
}

#horizontalDiv {
right: 10px;
}


/* ==========================================================================
MOBILE NAV
========================================================================== */

/* Toggle Menu */

#toggle-nav {
  display: none;
}

.toggle-menu {
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline-block;
  top: 20px;
  right: 0;
  outline: none;
  padding: 0;
  pointer-events: initial;
  position: absolute;
  vertical-align: middle;
  width: 26px;
  height: 25px;
  z-index: 10;
}

.toggle-menu span {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  left: calc(50% - 13px );
  position: absolute;
  top: calc(50% - 1px );
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  -webkit-transform 0.2s linear;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  -webkit-transform 0.2s linear;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear, -webkit-transform 0.2s linear;
  width: 26px;
}

.toggle-menu span:before, .toggle-menu span:after {
  background-color: #fff;
  content: "";
  display: block;
  height: 2px;
  position: absolute;
  -webkit-transform-origin: 50% 50%;
          transform-origin: 50% 50%;
  -webkit-transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  -webkit-transform 0.2s linear;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  -webkit-transform 0.2s linear;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear;
  transition: background-color 0.2s ease-in-out, top 0.2s 0.2s ease-out,  transform 0.2s linear, -webkit-transform 0.2s linear;
  width: 26px;
}

.toggle-menu span:before {
  top: 7px;
}

.toggle-menu span:after {
  top: -7px;
}

.toggle-menu.active span {
  background-color: transparent;
  -webkit-transition: background 0.2s ease-out;
  transition: background 0.2s ease-out;
}

.toggle-menu.active span:before, .toggle-menu.active span:after {
  background-color: #fff;
  -webkit-transition: top 0.2s ease-out, -webkit-transform 0.2s 0.2s ease-out;
  transition: top 0.2s ease-out, -webkit-transform 0.2s 0.2s ease-out;
  transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out;
  transition: top 0.2s ease-out, transform 0.2s 0.2s ease-out, -webkit-transform 0.2s 0.2s ease-out;
}

.toggle-menu.active span:before {
  top: 0;
  -webkit-transform: rotate3d(0, 0, 1, -45deg);
          transform: rotate3d(0, 0, 1, -45deg);
}

.toggle-menu.active span:after {
  top: 0;
  -webkit-transform: rotate3d(0, 0, 1, 45deg);
          transform: rotate3d(0, 0, 1, 45deg);
}

/* Full Screen Nav */

#mobile-nav-wrapper {
  left: 0;
  right: 0;
  opacity: 0;
  overflow: hidden;
  position: fixed;
  top: 0;
  bottom: 0;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  visibility: hidden;
  font-size: 9.75vw;
  font-weight: 700;
  line-height: 1.45em;
}

#mobile-nav-wrapper.open {
  opacity: 1;
  visibility: visible;
}

#mobile-nav {
  background: #19252c;
  width: 100%;
  min-width: 250px;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  z-index: 1000;
  
  -webkit-transition: all 1s cubic-bezier(.19,1,.22,1) 0s;
  -moz-transition: all 1s cubic-bezier(.19,1,.22,1) 0s;
  -ms-transition: all 1s cubic-bezier(.19,1,.22,1) 0s;
  -o-transition: all 1s cubic-bezier(.19,1,.22,1) 0s;
  transition: all 1s cubic-bezier(.19,1,.22,1) 0s;
  
  -moz-transform: translateX(100%);
  -webkit-transform: translateX(100%);
  -o-transform: translateX(100%);
  -ms-transform: translateX(100%);
  transform: translateX(100%);
}

#mobile-nav.open {
  -moz-transform: translateX(0);
  -webkit-transform: translateX(0);
  -o-transform: translateX(0);
  -ms-transform: translateX(0);
  transform: translateX(0);
}

#mobile-nav-container {
  position: absolute;
  top: 130px;
  right: 30px;
  bottom: 30px;
  left: 30px;
  font-size: 2em;
  font-weight: 700;
  line-height: 2em;
}

#mobile-nav li a {
  color: #f0f6fe;
}

#mobile-nav li {
	list-style: none;
  opacity: 0;
  visibility: hidden;
  -moz-transform: translateX(40px);
  -webkit-transform: translateX(40px);
  -o-transform: translateX(40px);
  -ms-transform: translateX(40px);
  transform: translateX(40px);
  -webkit-transition: all 0.9s ease 0ms;
  -moz-transition: all 0.9s ease 0ms;
  -ms-transition: all 0.9s ease 0ms;
  -o-transition: all 0.9s ease 0ms;
  transition: all 0.9s ease 0ms;
}

#mobile-nav li.anim {
  -webkit-transform: translateX(0px);
  -moz-transform: translateX(0px);
  -ms-transform: translateX(0px);
  -o-transform: translateX(0px);
  transform: translateX(0px);
  visibility: visible;
}

.mobile-view #mobile-nav li {
  opacity: 1;
  visibility: visible;
}

.navigation.anim  .navigation-list li:nth-child(1) {
  -webkit-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -moz-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -ms-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  -o-transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0s;
  transition: all 0.8s cubic-bezier(0.19, 1, 0.22, 1) 0s;
}

#mobile-nav li.anim {
	opacity: 1;
  visibility: visible;
}

/* ==========================================================================
Header & Footer
========================================================================== */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999;
  border-bottom: .5px solid rgba(0, 0, 0, .9);
  backdrop-filter: saturate(180%) blur(10px);
  background: rgba(255, 255, 255, .25);
  pointer-events: none;
}

#home-link,
#info-link {
  margin-right: 30px;
  pointer-events: all;
}

#info-page #info-link {
  display: none;
}

.home #home-link {
  display: none;
}

footer {
  display: none;
}

/* ==========================================================================
Flip Cards
========================================================================== */

.cards-wrapper {
  position: relative;
  width: 100%;
  height: 100vh; /* S'assure que le conteneur prend toute la hauteur de la page */
}

.card-container {
  position: absolute; /* Permet de déplacer la carte librement */
  top: 0;
  left: 0;
  cursor: grab;
  /* border: .5px solid #fff; */
}

.card-container:active {
  cursor: grabbing;
}

.card-content {
  position: relative;
  width: 200px;
  height: 200px;
  transform-style: preserve-3d;
  transition: transform 0.6s;
}

.card-front, .card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* .card-front {
  background-color: #ccc;
} */

.card-front img,
.card-back img  {
  pointer-events: none;
}

.card-content button {
  position: absolute;
  bottom: 7px;
  right: 6px;
  width: 32px;
  height: 36px;
  cursor: pointer;
  background-color: transparent;
}

.card-content button.open-details {
  position: absolute;
  top: 6px;
  right: 5px;
}

.enlarge-btn svg {
  width: 24px;
  height: 24px;
}

.card-content button svg {
  display: block;
  width: 32px;
  height: 36px;
  pointer-events: none;
}

.card-back {
  background-color: #111;
  transform: rotateY(180deg);
}

.flipped .card-content {
  transform: rotateY(180deg);
}

.triangle-black {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 0;
  opacity: .5;
  pointer-events: none;
}

/* Filter */

#filter-menu {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 888;
  font-size: 15px;
  background-color: #fff;
  border-top: .5px solid rgba(0,0,0,.9);
  display: flex;
  justify-content: space-around;
}

.filter-block {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: left;
}

.filter-trigger {
  display: flex;
  align-items: center;
  padding: 8px 0 16px;
  cursor: pointer;
}

.filter-trigger span {
  margin-right: 8px;
  transition: .3s transform;
}

.filter-trigger.is-active span {
  transform: rotate(180deg);
}

.filter-list {
  display: none; /* Cacher les listes par défaut */
  flex-direction: column;
  position: absolute;
  top: -8px;
  transform: translateY(-100%);
  width: 254px;
  padding: 4px 9px;
  line-height: 1.75em;
  background-color: #fff;
}

.filter-trigger.is-active + .filter-list {
  display: flex; /* Afficher la liste de filtres quand .filter-trigger est active */
}

.filter-list button,
.filter-all button {
  display: flex;
  align-items: center;
  background-color: transparent;
  text-align: left;
  cursor: pointer;
}

.filter-list button span{
  display: block;
  width: 8px;
  height: 8px;
  border-radius: 8px;
  margin-right: 8px;
  background-color: white;

}

.filter-list button.active {
  color: #015AFF;
}

.filter-list button.active span{
  background-color: #015AFF;
}

.filter-all button {
  display: flex;
  align-items: center;
  padding: 8px 0 16px;
}

.filter-all button svg {
  margin-left: 8px;
}

/* iframes */

.embed-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  inset: 0;
  background: #fff;
  z-index: 9999;
}

.embed-container iframe {
  margin: 0 auto;
}

.details-div {
  display: none; /* Masquer par défaut */
}

.details-div.active {
  display: block !important; /* Afficher lorsque la div est active */
}

.close-details {
  position: absolute;
  top: 10px;
  right: 20px;
  width: 24px;
  height: 33px;
  background-color: transparent;
  cursor: pointer;
  z-index: 99999;
}

/* ==========================================================================
About Page
========================================================================== */

#info-page {
	overflow: visible;
	height: auto;
}

.page-content {
	padding: 200px 50px 100px;
	overflow: hidden;
}

.one-half {
	width: calc(50% - 50px);
}

.one-half img {
	margin-top: 50px;
}

.two-third {
	width: 66.6666%;
}

.img-row {
	padding: 28px 0;
	margin: 50px 0 100px;
}

.img-row .img-col {
	margin-right: 50px;
}

.img-row .img-col:last-of-type {
	margin-right: 0;
}

section {
	position: relative;
}

.line-div {
	position: absolute;
	display: block;
	width: 100%;
	height: 3px;
	background: #000;
	pointer-events: none;
	z-index: -1;
}

.line-top {
	position: absolute;
	top: 18px;
	left: -50px;
	right: -50px;
	width: calc(100% + 100px);
	z-index: -1;
}

.line-left {
	top: 18px;
	left: -10px;
	width: 3000px;
	transform: translateX(-100%);
	z-index: -1;
}

.line-right {
	top: 18px;
	right: 0;
	width: 3000px;
	transform: translateX(100%);
}

.img-row .line-div {
	width: 50%;
}

.img-row .line-div.line-top {
	top: 0;
	left: -50px;
	right: auto;
}

.img-row .line-div.line-bottom {
	top: auto;
	bottom: 0;
	right: -50px;
	left: auto;
}

.section-header {
	display: inline-block;
	position: relative;
}

.section-header h1 {
	display: inline-block;
	padding: 0 10px ;
	margin-left: -10px;
	margin-bottom: .5em;
	font-size: 2em;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}

section p {
	font-size: .95em;
	margin-bottom: 1em;
}

section p:last-of-type {
	margin-bottom: 0;
} 

.flex {
	position: relative;
	display: flex;
}

.space-between {
	justify-content: space-between;
}

.wrap {
	flex-wrap: wrap;
}

.team-member {
	width: calc(33.3333% - 120px);
	margin: 0 60px;
	text-align: center;
	font-size: 1.25em;
	font-style: normal;
	font-weight: 600;
	line-height: normal;
}

.team-member.team-large {
	width: 50%;
}

.team-name {
	padding: 10px 0 20px;
}

.bg-letter {
	position: absolute;
	top: 150px;
	left: 0;
	z-index: -1;
}

/* ==========================================================================
Theme Media Queries
========================================================================== */


/* Desktop Computer based on screen width */
@media screen 
  and (min-width: 1567px) {	
}

/* Large Laptop based on screen width */
@media screen 
  and (min-width: 1281px) 
  and (max-width: 1566px) {	
}

/* Small Laptop based on screen width */
@media screen 
  and (min-width: 1081px) 
  and (max-width: 1280px) {	
}

/* iPad Landscape based on screen width */
@media screen 
  and (min-width: 769px) 
  and (max-width: 1080px)  {	
}

/* iPad Portrait based on screen width */
@media screen 
  and (max-width: 768px)  {	
}

/* iPhone Portrait based on screen width */
@media screen 
  and (max-width: 480px)  {	
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen 
  and (min-device-width : 320px) 
  and (max-device-width : 480px) {

    #verticalLine, #horizontalLine, #verticalDiv, #horizontalDiv {
      display: none;
    }

    .card-container {
      position: relative !important;
      top: auto !important;
      left: 50% !important;
      transform: translateX(-50%);
      margin: 0 auto;
    }

    header {
      height: 60px;
    }

    #logo svg {
      width: 200px;
    }

    #info-link {
      margin-right: 0;
    }

    /* About Page */

    .page-content {
      padding: 120px 20px 80px;
      overflow: hidden;
    }

    .page-content .flex {
      display: block;
    }

    .page-content .one-half {
      width: 100%;
    }

    .img-row > .img-col {
      margin: 0 0 25px;
    }

    .one-half img {
      margin: 50px 0;
    }

    .team-member {
      width: 50%;
      margin: 0 auto;
    }
}

/* Smartphones (landscape) ----------- */
@media only screen 
  and (min-width : 321px) {
}

/* Smartphones (portrait) ----------- */
@media only screen 
  and (max-width : 320px) {
}

/* iPads (portrait and landscape) ----------- */
@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) {
}

/* iPads (portrait) ----------- */
@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) {
}

/* iPads (landscape) ----------- */
@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : landscape) {
}


/* iPad3 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : portrait) 
  and (-webkit-min-device-pixel-ratio : 2) {
}

/* Landscape */
@media only screen 
  and (min-device-width : 768px) 
  and (max-device-width : 1024px) 
  and (orientation : landscape) 
  and (-webkit-min-device-pixel-ratio : 2) {
}

/* iPhone 4 and 4S ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 480px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
}

/* Phone 5, 5S, 5C and 5SE ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2) {
}

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-width: 568px)
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) {
}

/* ----------- iPhone 6, 6S, 7 and 8 ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2) { 
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: portrait) { 
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 667px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (orientation: landscape) { 
}

/* ----------- iPhone 6+, 7+ and 8+ ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
}

/* Portrait */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
}

/* Landscape */
@media only screen 
  and (min-device-width: 414px) 
  and (max-device-width: 736px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) {
}

/* ----------- iPhone X ----------- */

/* Portrait and Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3) { 
}

/* Portrait */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: portrait) { 
}

/* Landscape */
@media only screen 
  and (min-device-width: 375px) 
  and (max-device-width: 812px) 
  and (-webkit-min-device-pixel-ratio: 3)
  and (orientation: landscape) { 
}


/* Samsung Galaxy S3 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-height: 640px) 
  and (orientation : portrait) 
  and (-webkit-device-pixel-ratio: 2) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-height: 640px) 
  and (orientation : landscape) 
  and (-webkit-device-pixel-ratio: 2) {
}

/* Samsung Galaxy S4 ----------- */

/* Portrait */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-height: 640px) 
  and (orientation : portrait) 
  and (-webkit-device-pixel-ratio: 3) {
}

/* Landscape */
@media only screen 
  and (min-device-width: 320px) 
  and (max-device-height: 640px) 
  and (orientation : landscape) 
  and (-webkit-device-pixel-ratio: 3) {
}